    html {
      box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
      padding: 0;
      margin: 0;
    }

    .app {
      width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    .funnel-display-font {
      font-family: "Funnel Display", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }

    nav ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    nav ul li {
      padding: 20px;
    }

    nav ul li a {
      color: black;
      text-decoration: none;
      font-family: "Funnel Display", sans-serif;
    }

    .current {
      border-bottom: 4px solid green;
    }

    h1 {
      margin-bottom: 20px;
      font-family: "Funnel Display", sans-serif;
      text-align: center;
      text-justify: center;
    }

    h2,
    h3 {
      margin-bottom: 20px;
      font-family: "Funnel Display", sans-serif;
    }

    p {
      margin-bottom: 15px;
      font-family: "Funnel Display", sans-serif;
    }