    html {
      box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
      box-sizing: inherit;
      padding: 0;
      margin: 0;
    }

    .app {
      max-width: 1200px;
      width: 90%;
      margin: 0 auto;
      padding: 20px;
    }

    .funnel-display-font {
      font-family: "Funnel Display", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }

    nav ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    nav ul li {
      padding: 20px;
    }

    nav ul li a {
      color: black;
      text-decoration: none;
      font-family: "Funnel Display", sans-serif;
    }

    .current {
      border-bottom: 4px solid green;
    }

    h1 {
      font-family: "Funnel Display", sans-serif;
      font-weight: 800;
      text-align: center;
      justify-content: center;
      background-color: #EDC0C5;
      color: #A50521;
      width: 210px;
      height: 45px;
      margin: 0 auto;
    }

    h2,
    h3 {
      margin-bottom: 20px;
      font-family: "Funnel Display", sans-serif;
      text-align: center;
    }

    p {
      margin-bottom: 15px;
      font-family: "Funnel Display", sans-serif;
      white-space: normal;
      overflow-wrap: break-word;
      text-align: center;
    }

    #content {
      width: 100%;
      padding: 12px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      /* Optional: For improved browser support */
      white-space: normal;
    }

    .flex-grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .col {
      flex: 0 0 calc((100% - 4rem) / 5);
      box-sizing: border-box;
    }